body {
    background-image: linear-gradient( rgba(28, 22, 22, 0.7) ,rgba(13, 10, 10, 0.7)),url("pic.jpg");
    background-color:#717a7d;
     height:500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    }
        h2{
    color: rgb(210, 192, 29);
    
    
        }
        p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: antiquewhite;
    background-color: rgb(28, 57, 79);
    
        }
        marquee{
    padding:8px;
    font-size: 20px;
    border-color: rgb(29, 110, 176);
    border-style: solid;

        }
        